<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="">
    <ion-input type="text" [(ngModel)]="encodText"></ion-input>
    <button ion-button (click)="encode()" id="encode" type="button" name="button"> Encode</button>
  </div>
  <div class="">
    <button ion-button (click)="scan()" type="button" name="button"> Scan</button>
    <div class="">
      <label for="">Your barcode is:</label>
      <br>
      <span>{{scannedData.text}}</span>
    </div>
    <video #video autoplay id="video" class="video"></video>
    <canvas #canvas style="display:none;"> </canvas>

  </div>
</ion-content>
